<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

  <bean id="usuariosService" class="UsuariosService"></bean>
  <bean id="comentariosService" class="ComentariosService">
    <property name="usuariosService" ref="usuariosService"></property>
  </bean>
  <bean id="comprarDineroService" class="ComprarDineroService">
    <property name="usuariosService" ref="usuariosService"></property>
  </bean>
  <bean id="mostrarPerfilService" class="MostrarPerfilService">
    <property name="usuariosService" ref="usuariosService"></property>
  </bean>
  <bean id="principalService" class="PrincipalService">
    <property name="comentariosService" ref="comentariosService"></property>
    <property name="comprarDineroService" ref="comprarDineroService"></property>
    <property name="mostrarPerfilService" ref="mostrarPerfilService"></property>

  </bean>


</beans>